<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrakHound_Device_Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TrakHound_Device_Manager.Properties.Settings>
            <setting name="AutoDetectStartAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoDetectEndAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoDetectStartPort" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="AutoDetectEndPort" serializeAs="String">
                <value>5020</value>
            </setting>
            <setting name="AutoDetectPingTimeout" serializeAs="String">
                <value>100</value>
            </setting>
        </TrakHound_Device_Manager.Properties.Settings>
    </userSettings>
</configuration>