<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrakHound_Dashboard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <TrakHound_Dashboard.Properties.Settings>
            <setting name="Usage_TimesOpened" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdateBehavior" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FirstOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastVersion" serializeAs="String">
                <value>initial</value>
            </setting>
            <setting name="LoginRememberToken" serializeAs="String">
                <value />
            </setting>
            <setting name="DashboardSelectedPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DashboardIsExpanded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DatabaseReadInterval" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="TableManagerRowDisplayIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoBugReport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SavedTheme" serializeAs="String">
                <value>Light</value>
            </setting>
        </TrakHound_Dashboard.Properties.Settings>
    </userSettings>
</configuration>
