<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IPNetwork2" version="2.0.3" targetFramework="net40" />
  <package id="MTConnect.NET" version="2.0.1.7322" targetFramework="net40" />
  <package id="MTConnect-Sniffer" version="1.1.1.5649" targetFramework="net40" />
  <package id="NLog" version="4.4.1" targetFramework="net40" />
  <package id="RestSharp" version="105.2.3" targetFramework="net40" />
</packages>